In [9]:
import pandas as pd
tmp = pd.read_csv('shortened_data.csv', encoding='cp949')

In [10]:
tmp = tmp[tmp['기준년도']==2022][['신장(5cm단위)', '체중(5kg단위)']]
tmp.columns = ['height', 'weight']
tmp.to_csv("shortened_data_2022.csv")

In [8]:
tmp.head()

         Unnamed: 0  기준년도  성별  연령대코드(5세단위)  신장(5cm단위)  체중(5kg단위)
4000000     4000000  2022   2           14        160         75
4000001     4000001  2022   2            9        150         45
4000002     4000002  2022   2           13        150         60
4000003     4000003  2022   2            6        160         50
4000004     4000004  2022   2            7        160         55